<div class="card">
  <div class="card-top">
    <img
      class="product-picture"
      [id]="productId"
      [src]="productImage"
      alt="product image">
  </div>
  <div class="card-content">
    <div class="card-info">
      <span class="card-title">{{ productName }}</span>
      <span class="card-price">{{ productPrice }}</span>
    </div>
    <div class="buttonDiv">
      <button class="button">
        <i class="bi bi-link-45deg" style="margin-left: 5px; font-size: 1.3rem;"></i>
        <span> {{ buttonName }}</span>
      </button>
    </div>
  </div>
</div>
