body {
  display: flex;
  justify-content: center; /* alinha no eixo horizontal */
  align-items: center;     /* alinha no eixo vertical */
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #F9F9F9;
  gap: 20px;
  width: 220px;
  border-radius: 35px;
  box-shadow: 0 0 25px 6px rgba(113, 113, 113, 0.55);
  -webkit-box-shadow: 0 0 25px 6px rgba(113, 113, 113, 0.55);
  -moz-box-shadow: 0 0 25px 6px rgba(113, 113, 113, 0.55);
  margin: 20px 10px;
}
.card:hover {
  box-shadow: 0 0 35px 10px rgba(113, 113, 113, 0.75);
  -webkit-box-shadow: 0 0 35px 10px rgba(113, 113, 113, 0.75);
  -moz-box-shadow: 0 0 35px 10px rgba(113, 113, 113, 0.75);
}
.card-top, .card-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  text-align: center;
}
.card-top {
  background-color: #F9F9F9; /* Light background for the top section */
  border-radius: 30px 30px 0 0;
  justify-content: center;/* Rounded corners for the top */
}
.card-bottom{
  align-content: center;
}

span{
  font-size: 16px;
  font-weight: bold;
}
.card-price{
  font-size: 20px;
  font-weight: bold;
  color: #0b0b0b;
  margin-left: 30%;
}

img {
  max-height: 180px;
  max-width: 180px;
  border-radius: 30px;
  border: 1px solid #c3c3c3;
  margin-top: 5px;
}

.buttonDiv{
  text-align: center;
}
.button{
  background-color: #1968c3;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 8px 2px;
  cursor: pointer;
  border-radius: 32px;
  transition: 0.2s;
}
.button:hover {
  background-color: #033b63;
  transition: 0.3s;
}
.button:active{
  background-color: #002237;
  box-shadow: inset 0 0 5px #000000;
  transition: transform 0.2s ease-in-out;
  transform: scale(0.95);
}
.button i {
  margin: 0;
  padding: 0;
  font-size: 1.3rem;
}

.button span {
  font-size: 16px;
  margin: 0;
  padding: 0;
  line-height: 1;
}

