<div class="copywriting-container">
  <div class="copywriting-content">
    <div class="copywriting-left">
      <img src="assets/images/cara_olhando_carne.png" alt="Imagem de Copywriting" class="copywriting-image">
    </div>
    <div class="copywriting-right">
      <div class="copywriting-text">
        <h1>Bem-vindo ao Pata de Ouro!</h1>
        <p>Aqui você encontra carnes frescas, cortes selecionados e aquele atendimento especial que só o açougue do bairro oferece. Além disso, temos uma conveniência equipada para facilitar ainda mais o seu dia: produtos variados para completar suas compras em um só lugar.</p>
        <p>Está com vontade de um frango assado quentinho e suculento? Agora ficou fácil! Envie sua mensagem e reserve seu frango assado do jeito que você gosta.</p>
        <p><strong>Carnes de qualidade, atendimento de confiança, praticidade e sabor te esperando!</strong></p>
      </div>
    <div class="copywriting-button">
      <button class="btn btn-primary">Peça seu frango assado</button>
      <button class="btn btn-secondary">Saiba mais</button>
    </div>
  </div>
</div>
</div>
