<div class="copywriting-container">
  <div class="copywriting-content">
    <div class="copywriting-left">
    </div>
    <div class="copywriting-right">
      <div class="copywriting-text">
        <div class="copywriting-title">
          <h1 class="title-full-size">Bem-vindo ao Pata de Ouro!</h1>
          <h1 class="title-mobile-size">Pata de Ouro</h1>
        </div>
      </div>
      <div class="copywriting-button">
        <!--<button class="btn btn-primary">Peça seu frango assado</button>
        <button class="btn btn-secondary">Saiba mais</button>-->
      </div>
    </div>
  </div>
</div>
