.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1040px;
  border-radius: 30px;
}
.card p{
  color: #cccccc;
}
.apresention-card-left{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
}
.apresention-card-right{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
}
.apresention-card-text{
  font-size: 25px;
  text-align: justify;
  padding: 20px;
}
.apresention-card-image{
  width: 300px;
  height: 300px;
  border-radius: 30px;
}
