@media (max-width: 1000px) {
  body {
    overflow-x: hidden;
  }

  .brand-container{
    width: 90vw;
  }
  .navbar-brand {
    flex-direction: row;
    align-items: center;
    font-size: 1vh;
  }
  h1{
    font-size: 1.5vh;
  }

  .nav-search-bar{
    display: none;
  }

  .container-nav-links{
    width: min-content;
    margin-right: 5vw;
  }
  img{
    width: 8vh;
    height: 8vh;
  }

  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    height: 70vh;
    width: 40vw;
    background-color: var(--bs-dark);
    flex-direction: column;
    align-items: center;
    transform: translateX(0.9%);
    transition: transform 0.5s ease-in-out;
  }

  .nav-list li {
    margin: 5px 0;
  }

  #navbarMenu {
    display: block;
    margin-left: 2vw;
  }
  .nav-list.active {
    transform: translateX(110%);
    transition: transform 0.5s ease-in-out;
  }
}
@media (max-width: 480px) {

}
