@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
nav{
  display: flex;
  flex-direction: row;    /* opcional, empilha as divs verticalmente */
  align-items: center;       /* centraliza horizontalmente */
  background-color: var(--bs-dark);
  height: 8vh;
}

.nav-search-bar{
  display: flex;
  justify-content: center;
  width: 40vw;
}
.brand-container{
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 30vw;
}

.navbar-brand {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  display: flex;
  text-decoration: none;
  height: 8vh;
  background-color: var(--bs-dark);
}
.brand-name{
  color: #f3f3f3;
  font-size: 3.6vh;
  text-underline: none;
}
img{
  width: 8vh;
  height: 8vh;
}
.nav-list{
  list-style: none;
  display: flex;
}
.nav-list,
  li{
  margin: 0 10px;
}
.nav-list a{
  text-decoration: none;
  color: white;
  font-size: 2.5vh;
}

.nav-search-bar form{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input{
  width: 40vw;
  height: 5vh;
  border-radius: 20px 0 0 20px;
  border: none;
}
.input-group{
  display: flex;
  align-items: center;
}
.btn{
  align-self: center;
  height: 4vh;
  font-size: 2.5vh;
  margin-right: 1.5vh;
}
.input-group-append{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #ffffff;
  border-radius: 0 20px 20px 0;
  height: 5vh;
  width: min-content;
}

.container-nav-links{
  display: block;
  float: right;
  flex-direction: row;
  justify-content: flex-end;
  width: 20vw;
  height: max-content;
}
#navbarMenu{
  font-size: 6vh;
  color: white;
  display: none;
}
#navbarMenu :hover {
  cursor: pointer;
}

