<div class="wrapper">
  <div class="division"></div>
  <h2 class="title">Como nos encontrar?</h2>
  <div class="container">
    <div class="where-to-find-left">
      <h2 class="card-title">Como nos encontrar?</h2>
      <p class="description">
        Estamos localizados no coração do bairro, oferecendo as melhores carnes e produtos frescos da região.
        Nosso açougue está estrategicamente posicionado para facilitar o acesso de todos os nossos clientes.
      </p>
      <p class="description">
        <strong>Endereço:</strong> Rua Fortaleza, 563 - Cajuru, Curitiba - PR, 82920-220
      </p>
      <p class="description">
        <strong>Horário de funcionamento:</strong> Segunda à sábado, das 7h às 18h.
      </p>
      <div class="button-container">
        <a href="https://maps.app.goo.gl/rbq3W8nqTeuQBoSXA">
          <button class="button btn-primary">
            <i class="bi bi-geo"></i>
            <span>Ver no mapa</span>
          </button>
        </a>
      </div>
    </div>
    <div class="where-to-find-right">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1801.3277090800814!2d-49.2083306!3d-25.4497813!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94dce5675636c73d%3A0x9a11a861ba3bd489!2sA%C3%A7ougue%20Pata%20de%20Ouro!5e0!3m2!1spt-BR!2sbr!4v1752441059393!5m2!1spt-BR!2sbr"
              width="600" height="430" style="border:0;"
              allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
      </iframe>
    </div>
  </div>
</div>
