.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: 30px;
}
.division{
  display: flex;
  align-self: center;
  width: 80%;
  height: 1px;
  background-color: #e0e0e0;
  margin: 20px 0;
  margin-top: 60px;
}
.container{
  display: flex;
  align-items: start;
  flex-direction: row;
  border-radius: 40px;
  background-color: #efefef;
}
.where-to-find-left{
  display: flex;
  align-items: start;
  flex-direction: column;
  width: 400px;
  padding: 20px;
  text-align: justify;
}
.where-to-find-left h2 {
  text-align: center;
}
.where-to-find-left p {
  font-size: 16px;
  color: #333;
}
iframe{
  border-radius: 0 43px 43px 0;
  border: none;
}
.title{
  color: white;
  font-size: 40px;
}
.button-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.button{
  background-color: #1968c3;
  border: none;
  color: white;
  height: 50px;
  width: 400px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 8px 2px;
  cursor: pointer;
  border-radius: 32px;
  transition: 0.2s;
  font-size: 25px;
}
.button:hover {
  background-color: #033b63;
  transition: 0.3s;
}
.button:active{
  background-color: #002237;
  box-shadow: inset 0 0 5px #000000;
  transition: transform 0.2s ease-in-out;
  transform: scale(0.95);
}
.button i {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
}
