<div class="container">
  <div class="title">
    <h1>Sobre Nós</h1>
  </div>
  <div class="content">
    <app-apresentation-card
      content="Aqui você encontra carnes frescas, cortes selecionados e aquele atendimento especial que só o açougue do bairro oferece. Além disso, temos uma conveniência equipada para facilitar ainda mais o seu dia: produtos variados para completar suas compras em um só lugar."
      image="assets/images/cara_olhando_carne.png"
    ></app-apresentation-card>
    <app-apresentation-card
      content="Está com vontade de um frango assado quentinho e suculento? Agora ficou fácil! Envie sua mensagem e reserve seu frango assado do jeito que você gosta."
      image="assets/images/frango_assado.png"
      direction="row-reverse"
    ></app-apresentation-card>
    <div class="row-bottom">
      <button class="btn">
        <i class="bi bi-whatsapp"></i>
        <p><strong>Reserve seu frango assado</strong></p>
      </button>
    </div>
  </div>
</div>

