.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title{
  display: flex;
  align-items: center;
  align-self: center;
}
.title h1{
  font-size: 40px;
  color: #ffffff;
}
.row-bottom{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.btn p{
  margin-left: 10px;
}
.btn{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 80px;
  font-size: 20px;
  background-color: rgba(33, 255, 7, 0.84);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn:hover{
  background-color: rgba(22, 170, 7, 0.93);
}
.btn:active{
  background-color: rgba(22, 170, 7, 0.73);
  transform: scale(0.98);
  transition: transform 0.2s ease-in-out;
}
