@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@0;1&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital@0;1&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body {
  background-color: var(--bs-dark);
  margin: 0;
  box-shadow: 0 0 101px 38px rgba(0,0,0,0.85) inset;
  -webkit-box-shadow: 0 0 101px 38px rgba(0,0,0,0.85) inset;
  -moz-box-shadow: 0 0 101px 38px rgba(0,0,0,0.85) inset;
  overflow-x: hidden;
  font-family: 'Playfair Display', serif;
}
p, span, li{
  font-family: 'Roboto', sans-serif;
}
:root {
  --bs-dark: #212529;
}
